In [1]:
import pandas as pd

TEAMS

In [2]:
df_teams = pd.read_csv('england-premier-league-teams-2018-to-2019-stats.csv')
df_teams.head()

,team_name,common_name,season,country,matches_played,matches_played_home,matches_played_away,suspended_matches,wins,wins_home,...,goals_conceded_min_61_to_70,goals_conceded_min_71_to_80,goals_conceded_min_81_to_90,draw_percentage_overall,draw_percentage_home,draw_percentage_away,loss_percentage_ovearll,loss_percentage_home,loss_percentage_away,over145_corners_percentage
0,Arsenal FC,Arsenal,2018/2019,England,38,19,19,0,21,14,...,12,1,8,18,16,21,26,11,42,5
1,Tottenham Hotspur FC,Tottenham Hotspur,2018/2019,England,38,19,19,0,23,12,...,4,8,10,5,11,0,34,26,42,11
2,Manchester City FC,Manchester City,2018/2019,England,38,19,19,0,32,18,...,4,2,3,5,0,11,11,5,16,5
3,Leicester City FC,Leicester City,2018/2019,England,38,19,19,0,15,8,...,7,1,9,18,16,21,42,42,42,5
4,Crystal Palace FC,Crystal Palace,2018/2019,England,38,19,19,0,14,5,...,8,8,11,18,26,11,45,47,42,11

In [3]:
df_teams_filtrado = df_teams[['team_name', 'common_name', 'season', 'matches_played', 'league_position',  'points_per_game', 'league_position_home', 'league_position_away', 'goals_scored', 'goals_conceded', 'goal_difference', 'goals_scored_home', 'goals_scored_away', 'goals_conceded_home', 'goals_conceded_away', 'goal_difference_home', 'goal_difference_away', 'clean_sheets', 'clean_sheets_home', 'clean_sheets_away', 'xg_for_avg_overall', 'xg_for_avg_home', 'xg_for_avg_away', 'xg_against_avg_overall', 'xg_against_avg_home', 'xg_against_avg_away']]
df_teams_filtrado.head()

,team_name,common_name,season,matches_played,league_position,points_per_game,league_position_home,league_position_away,goals_scored,goals_conceded,...,goal_difference_away,clean_sheets,clean_sheets_home,clean_sheets_away,xg_for_avg_overall,xg_for_avg_home,xg_for_avg_away,xg_against_avg_overall,xg_against_avg_home,xg_against_avg_away
0,Arsenal FC,Arsenal,2018/2019,38,5,1.84,3,8,73,51,...,-4,8,7,1,1.43,1.60,1.25,1.44,1.29,1.60
1,Tottenham Hotspur FC,Tottenham Hotspur,2018/2019,38,4,1.87,5,3,67,39,...,10,13,7,6,1.58,1.74,1.42,1.35,1.28,1.42
2,Manchester City FC,Manchester City,2018/2019,38,1,2.58,1,1,95,23,...,27,20,9,11,2.18,2.45,1.90,0.79,0.75,0.83
3,Leicester City FC,Leicester City,2018/2019,38,9,1.37,11,7,51,48,...,-1,10,6,4,1.56,1.70,1.40,1.32,1.19,1.45
4,Crystal Palace FC,Crystal Palace,2018/2019,38,12,1.29,18,6,51,53,...,2,12,7,5,1.36,1.51,1.20,1.53,1.31,1.75

In [4]:
df_teams_filtrado.to_csv('premier_league_18-19_teams.csv', index=False, header=True)

MATCHES

In [ ]:
df_matches = pd.read_csv('england-premier-league-matches-2018-to-2019-stats.csv')
df_matches.head()

,timestamp,date_GMT,status,attendance,home_team_name,away_team_name,referee,Game Week,Pre-Match PPG (Home),Pre-Match PPG (Away),...,odds_ft_home_team_win,odds_ft_draw,odds_ft_away_team_win,odds_ft_over15,odds_ft_over25,odds_ft_over35,odds_ft_over45,odds_btts_yes,odds_btts_no,stadium_name
0,1533927600,Aug 10 2018 - 7:00pm,complete,74439,Manchester United,Leicester City,Andre Marriner,1,0.0,0.0,...,1.37,4.98,9.81,1.33,2.00,3.60,7.50,2.05,1.69,Old Trafford (Manchester)
1,1533987000,Aug 11 2018 - 11:30am,complete,51749,Newcastle United,Tottenham Hotspur,Martin Atkinson,1,0.0,0.0,...,4.51,3.77,1.84,1.31,1.95,3.50,5.75,1.83,1.87,St. James' Park (Newcastle upon Tyne)
2,1533996000,Aug 11 2018 - 2:00pm,complete,10353,AFC Bournemouth,Cardiff City,Kevin Friend,1,0.0,0.0,...,2.03,3.51,3.96,1.31,1.95,3.45,6.70,1.83,1.83,Vitality Stadium (Bournemouth- Dorset)
3,1533996000,Aug 11 2018 - 2:00pm,complete,24821,Fulham,Crystal Palace,Mike Dean,1,0.0,0.0,...,2.31,3.44,3.26,1.28,1.87,3.20,7.00,1.71,2.00,Craven Cottage (London)
4,1533996000,Aug 11 2018 - 2:00pm,complete,24121,Huddersfield Town,Chelsea,Chris Kavanagh,1,0.0,0.0,...,7.47,4.27,1.51,1.29,1.91,3.30,6.95,2.00,1.71,John Smith's Stadium (Huddersfield- West Yorks...

In [ ]:
def label_initial_h (row):
  if row['home_team_name'] == 'Manchester United' :
      return 'MUN'
  elif row['home_team_name'] == 'Manchester City' :
      return 'MCI'
  elif row['home_team_name'] == 'Arsenal' :
      return 'ARS'
  elif row['home_team_name'] == 'Leicester City' :
      return 'LEI'
  elif row['home_team_name'] == 'Crystal Palace' :
      return 'CRY'
  elif row['home_team_name'] == 'Everton' :
      return 'EVE'
  elif row['home_team_name'] == 'Burnley' :
      return 'BUR'
  elif row['home_team_name'] == 'AFC Bournemouth' :
      return 'BOU'
  elif row['home_team_name'] == 'Southampton' :
      return 'SOU'
  elif row['home_team_name'] == 'Tottenham Hotspur' :
      return 'TOT'
  elif row['home_team_name'] == 'Liverpool' :
      return 'LIV'
  elif row['home_team_name'] == 'Chelsea' :
      return 'CHE'
  elif row['home_team_name'] == 'West Ham United' :
      return 'WHU'
  elif row['home_team_name'] == 'Watford' :
      return 'WAT'
  elif row['home_team_name'] == 'Newcastle United' :
      return 'NEW'
  elif row['home_team_name'] == 'Cardiff City' :
      return 'CAR'
  elif row['home_team_name'] == 'Fulham' :
      return 'FUL'
  elif row['home_team_name'] == 'Brighton & Hove Albion' :
      return 'BHA'
  elif row['home_team_name'] == 'Huddersfield Town' :
      return 'HUD'
  elif row['home_team_name'] == 'Wolverhampton Wanderers' :
      return 'WOL'

In [ ]:
def label_initial_a (row):
  if row['away_team_name'] == 'Manchester United' :
      return 'MUN'
  elif row['away_team_name'] == 'Manchester City' :
      return 'MCI'
  elif row['away_team_name'] == 'Arsenal' :
      return 'ARS'
  elif row['away_team_name'] == 'Leicester City' :
      return 'LEI'
  elif row['away_team_name'] == 'Crystal Palace' :
      return 'CRY'
  elif row['away_team_name'] == 'Everton' :
      return 'EVE'
  elif row['away_team_name'] == 'Burnley' :
      return 'BUR'
  elif row['away_team_name'] == 'AFC Bournemouth' :
      return 'BOU'
  elif row['away_team_name'] == 'Southampton' :
      return 'SOU'
  elif row['away_team_name'] == 'Tottenham Hotspur' :
      return 'TOT'
  elif row['away_team_name'] == 'Liverpool' :
      return 'LIV'
  elif row['away_team_name'] == 'Chelsea' :
      return 'CHE'
  elif row['away_team_name'] == 'West Ham United' :
      return 'WHU'
  elif row['away_team_name'] == 'Watford' :
      return 'WAT'
  elif row['away_team_name'] == 'Newcastle United' :
      return 'NEW'
  elif row['away_team_name'] == 'Cardiff City' :
      return 'CAR'
  elif row['away_team_name'] == 'Fulham' :
      return 'FUL'
  elif row['away_team_name'] == 'Brighton & Hove Albion' :
      return 'BHA'
  elif row['away_team_name'] == 'Huddersfield Town' :
      return 'HUD'
  elif row['away_team_name'] == 'Wolverhampton Wanderers' :
      return 'WOL'

In [ ]:
df_matches_filtrado = df_matches[['timestamp', 'date_GMT', 'attendance', 'home_team_name', 'away_team_name', 'home_team_goal_count', 'away_team_goal_count', 'referee', 'Game Week', 'home_team_goal_timings', 'away_team_goal_timings', 'home_team_shots', 'away_team_shots', 'home_team_shots_on_target', 'away_team_shots_on_target', 'team_a_xg', 'team_b_xg', 'stadium_name']]
df_matches_filtrado.head()

,timestamp,date_GMT,attendance,home_team_name,away_team_name,home_team_goal_count,away_team_goal_count,referee,Game Week,home_team_goal_timings,away_team_goal_timings,home_team_shots,away_team_shots,home_team_shots_on_target,away_team_shots_on_target,team_a_xg,team_b_xg,stadium_name
0,1533927600,Aug 10 2018 - 7:00pm,74439,Manchester United,Leicester City,2,1,Andre Marriner,1,"3,83",90'2,8,8,7,5,1.25,1.46,Old Trafford (Manchester)
1,1533987000,Aug 11 2018 - 11:30am,51749,Newcastle United,Tottenham Hotspur,1,2,Martin Atkinson,1,11,"8,18",11,13,3,6,1.18,1.58,St. James' Park (Newcastle upon Tyne)
2,1533996000,Aug 11 2018 - 2:00pm,10353,AFC Bournemouth,Cardiff City,2,0,Kevin Friend,1,"24,90'1",NaN,11,7,5,2,1.50,0.89,Vitality Stadium (Bournemouth- Dorset)
3,1533996000,Aug 11 2018 - 2:00pm,24821,Fulham,Crystal Palace,0,2,Mike Dean,1,NaN,"41,79",11,11,7,11,1.67,1.81,Craven Cottage (London)
4,1533996000,Aug 11 2018 - 2:00pm,24121,Huddersfield Town,Chelsea,0,3,Chris Kavanagh,1,NaN,"34,45,80",6,8,2,5,0.90,1.17,John Smith's Stadium (Huddersfield- West Yorks...

In [ ]:
df_matches_filtrado.rename(columns = {'Game Week':'gameweek'}, inplace = True)
df_matches_filtrado.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,timestamp,date_GMT,attendance,home_team_name,away_team_name,home_team_goal_count,away_team_goal_count,referee,gameweek,home_team_goal_timings,away_team_goal_timings,home_team_shots,away_team_shots,home_team_shots_on_target,away_team_shots_on_target,team_a_xg,team_b_xg,stadium_name
0,1533927600,Aug 10 2018 - 7:00pm,74439,Manchester United,Leicester City,2,1,Andre Marriner,1,"3,83",90'2,8,8,7,5,1.25,1.46,Old Trafford (Manchester)
1,1533987000,Aug 11 2018 - 11:30am,51749,Newcastle United,Tottenham Hotspur,1,2,Martin Atkinson,1,11,"8,18",11,13,3,6,1.18,1.58,St. James' Park (Newcastle upon Tyne)
2,1533996000,Aug 11 2018 - 2:00pm,10353,AFC Bournemouth,Cardiff City,2,0,Kevin Friend,1,"24,90'1",NaN,11,7,5,2,1.50,0.89,Vitality Stadium (Bournemouth- Dorset)
3,1533996000,Aug 11 2018 - 2:00pm,24821,Fulham,Crystal Palace,0,2,Mike Dean,1,NaN,"41,79",11,11,7,11,1.67,1.81,Craven Cottage (London)
4,1533996000,Aug 11 2018 - 2:00pm,24121,Huddersfield Town,Chelsea,0,3,Chris Kavanagh,1,NaN,"34,45,80",6,8,2,5,0.90,1.17,John Smith's Stadium (Huddersfield- West Yorks...

In [ ]:
df_matches_filtrado['home_team_initial'] = df_matches.apply (lambda row: label_initial_h(row), axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_matches_filtrado['away_team_initial'] = df_matches.apply (lambda row: label_initial_a(row), axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_matches_filtrado.head()

,timestamp,date_GMT,attendance,home_team_name,away_team_name,home_team_goal_count,away_team_goal_count,referee,gameweek,home_team_goal_timings,away_team_goal_timings,home_team_shots,away_team_shots,home_team_shots_on_target,away_team_shots_on_target,team_a_xg,team_b_xg,stadium_name,home_team_initial,away_team_initial
0,1533927600,Aug 10 2018 - 7:00pm,74439,Manchester United,Leicester City,2,1,Andre Marriner,1,"3,83",90'2,8,8,7,5,1.25,1.46,Old Trafford (Manchester),MUN,LEI
1,1533987000,Aug 11 2018 - 11:30am,51749,Newcastle United,Tottenham Hotspur,1,2,Martin Atkinson,1,11,"8,18",11,13,3,6,1.18,1.58,St. James' Park (Newcastle upon Tyne),NEW,TOT
2,1533996000,Aug 11 2018 - 2:00pm,10353,AFC Bournemouth,Cardiff City,2,0,Kevin Friend,1,"24,90'1",NaN,11,7,5,2,1.50,0.89,Vitality Stadium (Bournemouth- Dorset),BOU,CAR
3,1533996000,Aug 11 2018 - 2:00pm,24821,Fulham,Crystal Palace,0,2,Mike Dean,1,NaN,"41,79",11,11,7,11,1.67,1.81,Craven Cottage (London),FUL,CRY
4,1533996000,Aug 11 2018 - 2:00pm,24121,Huddersfield Town,Chelsea,0,3,Chris Kavanagh,1,NaN,"34,45,80",6,8,2,5,0.90,1.17,John Smith's Stadium (Huddersfield- West Yorks...,HUD,CHE

In [ ]:
df_matches_filtrado.dtypes

timestamp                      int64
date_GMT                      object
attendance                     int64
home_team_name                object
away_team_name                object
home_team_goal_count           int64
away_team_goal_count           int64
referee                       object
gameweek                       int64
home_team_goal_timings        object
away_team_goal_timings        object
home_team_shots                int64
away_team_shots                int64
home_team_shots_on_target      int64
away_team_shots_on_target      int64
team_a_xg                    float64
team_b_xg                    float64
stadium_name                  object
home_team_initial             object
away_team_initial             object
dtype: object

In [ ]:
df_matches_filtrado.to_csv('premier_league_18-19_matches.csv', index=False, header=True)

EXTRA

In [ ]:
df_matches_ayuda = df_matches[['home_team_name', 'away_team_name', 'home_team_goal_count', 'away_team_goal_count','team_a_xg', 'team_b_xg', 'stadium_name']]
df_matches_ayuda.head(5)

In [ ]:
df_matches_ayuda.to_csv('ayuda_matches.csv', index=False, header=True)

In [ ]:
df_matches_ayuda[df_matches_ayuda['home_team_goal_count'] - df_matches_ayuda['team_a_xg'] > 3]

,home_team_name,away_team_name,home_team_goal_count,away_team_goal_count,team_a_xg,team_b_xg,stadium_name
107,Manchester City,Southampton,6,1,2.07,1.56,Etihad Stadium (Manchester)
186,Tottenham Hotspur,AFC Bournemouth,5,0,1.46,1.38,Wembley Stadium (London)
259,Manchester City,Chelsea,6,0,1.98,1.24,Etihad Stadium (Manchester)
273,Arsenal,AFC Bournemouth,5,1,1.82,1.25,Emirates Stadium (London)
372,Crystal Palace,AFC Bournemouth,5,3,1.97,2.07,Selhurst Park (London)